.wrapper_support_users_section {
  padding: 20px;
  position: relative;
}

.wrapper_support_users_section__header {
  font-size: 18px;
  color: #253140;
  font-weight: bold;
  margin: 10px auto;
  text-align: left;
  max-width: 240px;
  margin-bottom: 50px;
}

.wrapper_support_users_section__streams {
  display: none;
}

.wrapper_support_users_section__text {
  display: flex;
  flex-direction: column;
}

.stream_mobile {
  position: absolute;
  left: 2%;
  top: 0;
}

.support_text {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  max-width: 200px;
  margin: 70px auto;
  text-align: left;
}

.support_text_active {
  transform: scale(1.1);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  max-width: 200px;
  margin: 50px auto;
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .wrapper_support_users_section {
    padding: 40px 0;
  }

  .stream_mobile {
    display: none;
  }

  .wrapper_support_users_section__streams {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 230px;
  }
  .wrapper_support_users_section__text {
    display: flex;
    flex-direction: row;
  }

  .item_svg__active {
    position: relative;
    transition: all 0.2s ease-in-out;
  }

  .item_svg__active::after {
    content: url("./pin.png");
    position: absolute;
    display: inline-block;
    z-index: 9999;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
  }

  .item_svg:nth-child(1) {
    width: 100%;
    max-width: 524.073px;
  }

  .item_svg:nth-child(2) {
    width: 100%;
    max-width: 399.625px;
  }

  .item_svg:nth-child(3) {
    width: 100%;
    max-width: 429.073px;
  }

  .item_svg:nth-child(4) {
    width: 100%;
    max-width: 560.643px;
  }

  .support_text {
    max-width: 250px;
    margin: 0 auto;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 22px;
  }

  .support_text_active {
    transform: scale(1.1);
    font-weight: 400;
    max-width: 250px;
    margin: 0 auto;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 22px;
  }

  .wrapper_support_users_section__header {
    font-size: 70px;
    text-align: center;
    max-width: 950px;
  }
}
